#div1{
    text-align: center;
    color: aqua;
    height: 200px;
    width: 200px;
    background-color:red;
    text-align: center;
}

#div2 {
    height: 200px;
    width: 200px;
    background-color: blue;
    text-align: center;
}
#div3 {
    height: 300px;
    width: auto;
}

table{

    background-color:none;
    font-size: medium;
    text-align: center;
    border-style: dotted;
    border-width: 1px;
    border-color:black;
    align-items: center;
    border-collapse: collapse;
    width: 300px;
    height: 300px;
    
}
#row,#tbdy {
    border: 3px solid black;
}
body {
   display: flex;
   text-align: center;
}
td,tr {
    border: 3px solid black;

}